.categories
  .container
    .category.category--extra
      h2.title-logo PINGBULL
        span.title-logo__suffix ER
      p.category__subscription Copyright 2013, Pingbull AS
      p.category__text= lorem

    .category.category--extra
      h4.category__title RECENT COMMENTS
      p.category__text= lorem

    .category.category--extranews
      h4.category__title NEWS CATEGORIES
      p.category__text= lorem

    .category.category--extranews
      h4.category__title NEWS CATEGORIES
      p.category__text= lorem

    .category.category--news
      h4.category__title NEWS CATEGORIES
      p.category__text= lorem
