//- div(style="width: 960px; height: 30px; background-color: red;") 960
//- div(style="width: 768px; height: 30px; background-color: green;") 768
//- div(style="width: 480px; height: 30px; background-color: blue;") 480
//- div(style="width: 320px; height: 30px; background-color: yellow;") 320

!{header}

main
  
  !{about}

  .content-section
    .container
      .content-wrapper!= quote
      .content-wrapper!= recent
      
!{brands}
  
!{categories}

!{footer}

#media-width-detection-element
